body, ul, p {
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
}

/* li {
    list-style: none;
} */

* {
box-sizing: border-box
} 

.page {
    max-width: 1000px;
    margin: 15px auto;
    min-height: 600px;
    box-shadow: 0 0 2px 1px rgb(63, 63, 63);
    padding: 15px;
}