.slider, .slider__img{
    width: 100%;
    max-height: 350px;
}
.slider {
    position: relative;
}
.slider__btnLeft, .slider__btnRight {
    position: absolute;
    color: rgb(252, 13, 13);
    width: 50px;
    height: 50px;
    cursor: pointer;
    top: 45%;
}

.slider__btnLeft {
    left: 5px;
}

.slider__btnRight {
    right: 5px;
}


